            @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Ubuntu:ital,wght@0,300;0,400;1,500&display=swap');
            * {
                padding: 0;
                margin: 0;
                font-family: 'Ubuntu', sans-serif;
            }
            
            .container {
                border: 2px solid black;
                width: 100%;
                height: 100vh;
                background: #0f0f25;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
            }
            
            .play-box {
                border: 5px solid rgb(46, 66, 79);
                width: 400px;
                height: 650px;
                border-radius: 20px;
            }
            
            .menu-bar {
                border-bottom: 2px solid #211e5b;
                height: 70px;
                display: flex;
                position: relative;
            }
            
            .menu-btn {
                width: 50px;
                height: 50px;
                display: flex;
                padding-top: 12px;
            }
            /* .search-bar {
                display: flex;
                position: absolute;
                top: 25px;
                right: 105px;
                width: 90px;
                height: 30px;
                ;
            } */
            /* .search {
                background: linear-gradient(90deg, #060607, #09090a);
                border-radius: 40px;
                text-align: center;
                border: 2px solid #fff
            } */
            /* .srch-icn {
                display: flex;
                position: absolute;
                width: 18px;
                top: 5px;
                left: 150px;
                color: transparent;
            } */
            
            .play-list {
                display: flex;
                position: relative;
                top: 10px;
                /* border: 3px solid white; */
                height: 30vh;
                /* width: 37vw; */
                flex-wrap: wrap;
                padding-bottom: 30px;
                border-bottom: 2px solid #211e5b;
            }
            
            .play-list-1 h2 {
                color: #ff5e00;
                padding-left: 14px;
                padding-top: 5px;
            }
            
            .play-song-box {
                position: relative;
                top: 20px;
                left: 20px;
                width: 150px;
                height: 150px;
            }
            
            .wrapper {
                min-height: 150px;
                display: flex;
                gap: 20px;
                overflow-x: auto;
                min-width: 350px;
            }
            
            .wrapper::-webkit-scrollbar {
                display: none;
            }
            
            .wrapper.item {
                display: flex;
                min-width: 300px;
                height: 160px;
                text-align: center;
            }
            
            .img-box {
                cursor: pointer;
                min-width: 150px;
                width: 150px;
                height: 150px;
                transition: 0.5s;
            }
            
            .img-box:hover {
                height: 152px;
                transform: scale(1.1);
            }
            
            .play-wrapper {
                /* width: 100vw; */
                max-height: 500px;
                overflow-y: auto;
                overflow-x: hidden;
            }
            
            .play-wrapper::-webkit-scrollbar {
                width: 10px;
            }
            
            .play-wrapper::-webkit-scrollbar-track {
                background: #d1e5ff;
            }
            
            .play-wrapper::-webkit-scrollbar-thumb {
                background: grey;
            }
            
            .play-bar {
                border: 3px solid grey;
                height: 75px;
                width: 398px;
                border-radius: 0px 0px 20px 20px;
            }
            
            .play-line {
                padding: 0px;
                margin: 0px;
                position: relative;
                top: 20px;
                border-top: 2px solid #fff;
                height: 35px;
                width: 398px;
                border-radius: 0px 0px 20px 20px;
            }
            
            .play-tools {
                display: flex;
                position: relative;
                bottom: 10px;
                justify-content: center;
            }
            
            .music-icons {
                height: 45px;
                width: 45px;
            }
            
            .play-music {
                position: relative;
                height: 60px;
                width: 80px;
                bottom: 5px;
            }
            
            .progress-bar {
                width: 400px;
            }